<div class="notification">
  <div class="notification-content">
    <%= render "stops/stop", stop: stop %>
  </div>
  <div class="notification-action">
    <a href="#" class="snooze">SNOOZE</a>
  </div>
</div>
