<div class="navbar">
  <a href="#" class="flyout-open">
    <svg width="36" height="36" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" fill="black"/>
    </svg>
  </a>
  <div class="d-flex align-items-center">
    <%= content_for(:title) %>
  </div>
  <div class="d-flex align-items-right navbar-right">
    <%= content_for(:action) %>
  </div>
</div>
