.button-map  {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  margin-bottom: 15px;
  padding: 8px;
  background: #FFFFFF;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
  left: 275px;
  margin-left: 30px;
}
