.circle-transport-type {
  font-size: 18px;
  width: 32px;
  height: 32px;
  background-color: red;
  border-radius: 50px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 4px;
  &.long-code {
    width: auto;
    font-size: 12px;
    padding: 0 8px;
  }
}
