$flyout-max-width: 300px;

.flyout {
  overflow-x: auto;
  z-index: 1010;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: white;
  width: 100%;
  max-width: $flyout-max-width;
  box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.3);
  transition: all 300ms ease;
  .flyout-shadow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: $flyout-max-width;
  }
  .flyout-header {
    border-bottom: 1px solid #DDD;
    padding: 10px;
    background-color: #212529;
    height: 100px;
    color: #C6C6C6;
    font-size: 0.8em;
    .flyout-header-content {
      padding-top: 30px;
      padding-left: 12px;
    }
  }
  .flyout-bottom {
    position: absolute;
    bottom: 0px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-size: 0.6em;
    background-color: #f9f9f9;
    color: #a2a2a2;
  }
  .flyout-logo {
    position: absolute;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    right: 12px;
  }
  &.flyout-closed {
    transform: translateX(-$flyout-max-width);
    opacity: 0;
    .flyout-shadow {
      width: 0;
    }
  }

  .favorites-text {
    font-size: 0.6em;
    color: #C6C6C6;
    bottom: 10px;
    padding-left: 22px;
  }


  .flyout-links {
    a {
      display: flex;
      align-items: center;
      height: 50px;
      padding-left: 22px;
      color: inherit;
    }
    & > a {
      border-top: 1px solid #DDD;
    }
  }
  .label {
    border-top: 1px solid #DDD;
    padding-left: 22px;
    padding-top: 10px;
  }
}

