.btn {
  color: white;
}

.sign-up-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding-top: 50px;
}

.form-actions-sign-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}

.font-size-element {
  font-size: 0.9em;
}





