.log-in-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.button-log-in {
  background-color: black;
  border-color: black;
  .btn{
    color: white;
  }
}


.form-actions-log-in {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form-inputs-log-in {
  h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
