$navbar-height: 60px;

.navbar {
  border-bottom: 1px solid #E0E0E0;
  flex-wrap: nowrap;
  padding: 6px;
  height: $navbar-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
}
