.navbar {
  border-bottom: 1px solid #E0E0E0;
  flex-wrap: nowrap;
  padding: 6px;
  height: 60px;
  // position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   background: white;
  //   z-index: 1000;
}
