.search-bar {
  width: 100%;
  padding: 8px 15px 8px 15px;
  border-radius: 12px;
}

// .search {
//   position: fixed;
//   top: 60px;
//   left: 0;
//   width: 100%;
//   z-index: 1000;
//   background: #F2F2F2;
// }

// .search-result {
//    position: fixed;
//     top: calc(60px + 64px);
//     width: 100%;
//     bottom: 0;
//     z-index: 100;
//     background: white;
//     overflow-x: auto;
// }
