.fav {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;

  &.fav-active {
    .fav-star {
      fill: #ffac33;
    }
  }

  &.fav-activated {
    .fav-bloom {
      animation: background 0.5s ease both;
    }

    .fav-sparkle .fav-sparkle-line::before {
      animation: line 1s ease both;
    }

    .fav-star {
      animation: star 1s ease both;
    }
  }
}


.fav-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.fav-bloom {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border-width: 0;
  border-style: solid;
  border-color: #ffa624;
}

.fav-sparkle-line {
  position: absolute;
  width: 100%;
  height: 100%;

  &::before {
    position: absolute;
    z-index: 1;
    top: 30%;
    width: 4px;
    height: 0;
    left: calc(50% - 2px);
    border-radius: 2px;
    background: #fa733e;
    content: "";
  }

  &:nth-child(1) {
    transform: rotate(40deg);
  }

  &:nth-child(2) {
    transform: rotate(110deg);
  }

  &:nth-child(3) {
    transform: rotate(180deg);
  }

  &:nth-child(4) {
    transform: rotate(250deg);
  }

  &:nth-child(5) {
    transform: rotate(320deg);
  }
}

.fav-star {
  z-index: 1;
  padding: 18px;
  width: 100%;
  height: 100%;
  fill: #dee0e0;
}

@keyframes line {
  0% {
    top: 30%;
    height: 0;
  }

  40% {
    opacity: 1;
    height: 14px;
  }

  100% {
    opacity: 0;
    top: 10%;
    height: 0;
  }
}

@keyframes star {
  0% {
    transform: scale(1);
  }

  20% {
    fill: #ffac33;
    transform: scale(0);
  }

  30% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    fill: #ffac33;
    transform: scale(1);
  }
}

@keyframes background {
  0% {
    border-width: 50px;
    transform: scale(0);
  }

  90% {
    transform: scale(1);
  }

  100% {
    border-width: 0;
  }
}


