.next-time-passage {
  color: #C6C6C6;

}

.next-passages {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;

  color: #7D7D7D;

}

.next-passages-top, .label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.08em;
  color: #C6C6C6;
  text-transform: uppercase;
}

.next-passage-footer {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.3em;
  color: #C6C6C6;
  font-family: Roboto;
  padding-top: 10px;

}


.direction-text {
  font-family: "Exo", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;
  text-transform: uppercase;
  color: #B9B9B9;
}

